<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="hunter2">

    <!-- Include Gazebo plugins -->
    <xacro:include filename="$(find gazebo_harmonic)/urdf/hunter_base.xacro"/>
    <xacro:include filename="$(find gazebo_harmonic)/urdf/gazebo_control.xacro"/>
    <xacro:include filename="$(find gazebo_harmonic)/urdf/velodyne_VLP32C_gazebo.xacro"/>

    <!-- Include modular components -->
    <xacro:include filename="$(find hunter_base)/urdf/base_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/front_box_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/rear_box_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/front_wheels.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/rear_wheels.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/velodyne_VLP32C.xacro"/>

</robot>
