<?xml version="1.0"?>
<robot name="hunter" xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo reference="chassis">
  <mu1 value="1.0"/>
  <mu2 value="1.0"/>
  <kp  value="10000000.0" />
  <kd  value="1.0" />
  <visual>
    <material>
      <ambient>0.1 0.1 0.1 1</ambient>
      <diffuse>0.1 0.1 0.1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
    </material>
  </visual>
</gazebo>

<gazebo reference="front_left_wheel_link">
  <mu1 value="1.0"/>
  <mu2 value="1.0"/>
  <kp  value="10000000.0" />
  <kd  value="1.0" />
  <fdir1 value="1 0 0"/>
  <visual>
    <material>
      <ambient>0.1 0.1 0.1 1</ambient>
      <diffuse>0.1 0.1 0.1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
    </material>
  </visual>
</gazebo>

<gazebo reference="front_right_wheel_link">
  <mu1 value="1.0"/>
  <mu2 value="1.0"/>
  <kp  value="10000000.0" />
  <kd  value="1.0" />
  <fdir1 value="1 0 0"/>
  <visual>
    <material>
      <ambient>0.1 0.1 0.1 1</ambient>
      <diffuse>0.1 0.1 0.1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
    </material>
  </visual>
</gazebo>

<gazebo reference="rear_left_link">
  <mu1 value="1.0"/>
  <mu2 value="1.0"/>
  <kp  value="10000000.0" />
  <kd  value="1.0" />
  <fdir1 value="1 0 0"/>
  <visual>
    <material>
      <ambient>0.1 0.1 0.1 1</ambient>
      <diffuse>0.1 0.1 0.1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
    </material>
  </visual>
</gazebo>

<gazebo reference="rear_right_link">
  <mu1 value="1.0"/>
  <mu2 value="1.0"/>
  <kp  value="10000000.0" />
  <kd  value="1.0" />
  <fdir1 value="1 0 0"/>
  <visual>
    <material>
      <ambient>0.1 0.1 0.1 1</ambient>
      <diffuse>0.1 0.1 0.1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
    </material>
  </visual>
</gazebo>

<gazebo reference="rear_left_joint">
  <implicitSpringDamper>true</implicitSpringDamper>
</gazebo>

<gazebo reference="rear_right_joint">
  <implicitSpringDamper>true</implicitSpringDamper>
</gazebo>

<gazebo reference="front_steer_left_joint">
  <implicitSpringDamper>true</implicitSpringDamper>
</gazebo>

<gazebo reference="front_steer_right_joint">
  <implicitSpringDamper>true</implicitSpringDamper>
</gazebo>

<gazebo>
    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
    <plugin filename="gz-sim-navsat-system" name="gz::sim::systems::NavSat"/>
    <plugin filename="gz-sim-wheel-slip-system" name="gz::sim::systems::WheelSlip">
      <wheel link_name="rear_left_link">
        <slip_compliance_lateral>0.0</slip_compliance_lateral>
        <slip_compliance_longitudinal>0.0</slip_compliance_longitudinal>
        <wheel_radius>0.165</wheel_radius>
        <wheel_normal_force>171.5</wheel_normal_force>
      </wheel>
      <wheel link_name="rear_right_link">
        <slip_compliance_lateral>0.0</slip_compliance_lateral>
        <slip_compliance_longitudinal>0.0</slip_compliance_longitudinal>
        <wheel_radius>0.165</wheel_radius>
        <wheel_normal_force>171.5</wheel_normal_force>
      </wheel>
      <wheel link_name="front_left_wheel_link">
        <slip_compliance_lateral>0.0</slip_compliance_lateral>
        <slip_compliance_longitudinal>0.0</slip_compliance_longitudinal>
        <wheel_radius>0.165</wheel_radius>
        <wheel_normal_force>171.5</wheel_normal_force>
      </wheel>
      <wheel link_name="front_right_wheel_link">
        <slip_compliance_lateral>0.0</slip_compliance_lateral>
        <slip_compliance_longitudinal>0.0</slip_compliance_longitudinal>
        <wheel_radius>0.165</wheel_radius>
        <wheel_normal_force>171.5</wheel_normal_force>
      </wheel>
    </plugin>
</gazebo>

<!-- <gazebo reference="imu_link">
  <sensor name="imu_sensor" type="imu">
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <topic>imu</topic>
  </sensor>
</gazebo> -->
<gazebo reference="imu_link">                                                               
  <sensor name="imu_sensor" type="imu">                                                     
    <always_on>true</always_on>                                                             
    <update_rate>100</update_rate>                                                          
    <visualize>true</visualize>                                                             
    <topic>imu</topic>                                                                      
    <imu>                                                                                   
      <angular_velocity>                                                                    
        <x><noise type="gaussian"><mean>0</mean><stddev>0.001</stddev></noise></x>          
        <y><noise type="gaussian"><mean>0</mean><stddev>0.001</stddev></noise></y>          
        <z><noise type="gaussian"><mean>0</mean><stddev>0.001</stddev></noise></z>          
      </angular_velocity>                                                                   
      <linear_acceleration>                                                                 
        <x><noise type="gaussian"><mean>0</mean><stddev>0.01</stddev></noise></x>           
        <y><noise type="gaussian"><mean>0</mean><stddev>0.01</stddev></noise></y>           
        <z><noise type="gaussian"><mean>0</mean><stddev>0.01</stddev></noise></z>           
      </linear_acceleration>                                                                
    </imu>                                                                                  
  </sensor>                                                                                 
</gazebo>  

<gazebo reference="gps_link">
  <sensor name="navsat_sensor" type="navsat">
    <always_on>true</always_on>
    <update_rate>10</update_rate>
    <topic>gps</topic>
  </sensor>
</gazebo>

</robot>