<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="hunter2">

    <xacro:arg name="for_rviz" default="false"/>
    <xacro:property name="for_rviz" value="$(arg for_rviz)"/>

    <!-- Include Gazebo plugins -->
    <xacro:include filename="$(find gazebo_fortress)/urdf/hunter_base.xacro"/>
    <xacro:include filename="$(find gazebo_fortress)/urdf/gazebo_control.xacro"/>
    <xacro:include filename="$(find gazebo_fortress)/urdf/velodyne_VLP32C_gazebo.xacro"/>
    <xacro:include filename="$(find gazebo_fortress)/urdf/camera_gazebo.xacro"/>

    <!-- Include modular components -->
    <xacro:include filename="$(find hunter_base)/urdf/base_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/front_box_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/rear_box_link.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/front_wheels.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/rear_wheels.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/velodyne_VLP32C.xacro"/>
    <xacro:include filename="$(find hunter_base)/urdf/camera.xacro"/>

</robot>
