<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="front_box">
    <inertial>
      <origin xyz="0.23 0.18 0" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>

    <visual name="box_visual_body">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/front_box_with_logo_only_body.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="front_box_white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>

    <xacro:unless value="${for_rviz}">
    <visual name="box_visual_logo">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/front_box_with_logo_only_logo.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="front_box_navy">
        <color rgba="0.0 0.0 0.5 1.0"/>
      </material>
    </visual>
    </xacro:unless>

    <visual name="box_visual_shadow">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/front_box_with_logo_only_shadow.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="front_box_shadow">
        <color rgba="0.15 0.15 0.15 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.228 0.185 0.138" rpy="0 0 0"/>
      <geometry>
        <box size="0.455 0.370 0.275"/>
      </geometry>
    </collision>
  </link>

  <joint name="front_box_joint" type="fixed">
    <parent link="chassis"/>
    <child link="front_box"/>
    <origin xyz="0.155 0.23 0.015" rpy="0 0 -1.5708"/>
  </joint>

</robot>
