<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="rear_box">
    <inertial>
      <origin xyz="0.18 0.25 0" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>

    <visual name="rear_box_visual_body">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/rear_box_with_logo_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="rear_box_white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>

    <xacro:unless value="${for_rviz}">
    <visual name="rear_box_visual_logo">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/rear_box_with_logo_logo.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="rear_box_navy">
        <color rgba="0.0 0.0 0.5 1.0"/>
      </material>
    </visual>
    </xacro:unless>

    <visual name="rear_box_visual_shadow">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/rear_box_with_logo_shadow.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="rear_box_shadow">
        <color rgba="0.15 0.15 0.15 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.180 0.250 0.083" rpy="0 0 0"/>
      <geometry>
        <box size="0.360 0.500 0.165"/>
      </geometry>
    </collision>
  </link>

  <joint name="rear_box_joint" type="fixed">
    <parent link="chassis"/>
    <child link="rear_box"/>
    <origin xyz="0.15 -0.18 0.015" rpy="0 0 1.5708"/>
  </joint>

</robot>
