<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="lidar_visual_link">
    <inertial>
      <origin xyz="0 0 0.03585" rpy="0 0 0"/>
      <mass value="0.83"/>
      <inertia ixx="0.0009080594249999999" ixy="0" ixz="0"
               iyy="0.0009080594249999999" iyz="0" izz="0.0011049624"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find hunter_base)/meshes/lidar_3d_v1.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.03585" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0516" length="0.0717"/>
      </geometry>
    </collision>
  </link>

  <link name="velodyne_sensor">
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="lidar_visual_joint" type="revolute">
    <parent link="front_box"/>
    <child link="lidar_visual_link"/>
    <origin xyz="0.23 0.14 0.30" rpy="0 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>

  <joint name="lidar_sensor_joint" type="fixed">
    <parent link="lidar_visual_link"/>
    <child link="velodyne_sensor"/>
    <origin xyz="0.0 0.0 0.0377" rpy="0 0 0"/>
  </joint>

</robot>
